*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7fb;
}

/* NAVBAR */

nav{
    background:#0b1f3a;
    color:white;
    padding:20px;
    text-align:center;
}

/* CONTAINER */

.container{
    width:90%;
    max-width:1200px;
    margin:30px auto;
}

/* TITLE */

h1{
    text-align:center;
    margin-bottom:30px;
    color:#0b1f3a;
}

/* FORM */

form{
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.form-group{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:500;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    outline:none;
}

textarea{
    resize:none;
    height:100px;
}

button{
    width:100%;
    padding:14px;
    border:none;
    background:#0b1f3a;
    color:white;
    font-size:16px;
    border-radius:6px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#13315c;
}

/* VIEW BUTTON */

.view-btn{
    display:block;
    margin-top:15px;
    text-align:center;
    background:#13315c;
    color:white;
    padding:14px;
    border-radius:6px;
    text-decoration:none;
}

.view-btn:hover{
    background:#0b1f3a;
}

/* EMPLOYEE CARDS */

.employee-list{
    margin-top:40px;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    gap:20px;
}

.employee-card{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.employee-card h3{
    color:#0b1f3a;
    margin-bottom:15px;
}

.employee-card p{
    margin:8px 0;
}
nav{
    background:#0b1f3a;
    color:white;
    padding:20px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:#ddd;
}